<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>The Blue Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/static/imágenes/favicon.ico">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <a href="{{ url_for('index') }}">
                    <img src="/static/imágenes/libro_logo.jpeg" alt="Logo" class="logo">
                </a>
            </div>
            <h1>The Blue Book</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('buscar_libros') }}">Buscar Libros</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
