{% extends "base.html" %}

{% block content %}
<div class="welcome-text">
    <h2>¡Búsqueda de libros!</h2>
    <form action="{{ url_for('buscar_libros') }}" method="post">
        <input type="text" id="query" name="query" placeholder="Busca por título o autor..." required>
        <select name="tipo_busqueda" id="tipo_busqueda">
            <option value="titulo">Título</option>
            <option value="autor">Autor</option>
        </select>
        <button type="submit">¡Vamos a buscar!</button>
    </form>
</div>
{% endblock %}
