{% extends "base.html" %}

{% block content %}
<div class="welcome-text">
    <h2>Descubre la Biblioteca Azul</h2>
    <p>Bienvenido a un universo lleno de historias apasionantes, aventuras inolvidables y personajes fascinantes. Nuestra Biblioteca Azul es el destino perfecto para los amantes de los libros, los entusiastas del manga y los fanáticos de los cómics.</p>
    <p>Explora nuestro catálogo, donde encontrarás una amplia variedad de obras, desde los clásicos de la literatura, los mangas más aclamados, hasta los cómics más innovadores. Filtra tus búsquedas por título o por autor  para encontrar exactamente lo que estás buscando.</p>
    <a href="{{ url_for('buscar_libros') }}" class="explorar-btn">Explorar Libros</a>
</div>
{% endblock %}
